.card {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5em;
  border-radius: 1em;
  padding: 02em 0;
  background-color: #e87d74;
  box-shadow: 6px 6px 8px 0px rgba(217, 217, 217, 1);
  max-width: 30rem;
}

.card.dark {
  background-color: black;
  color: white;
}

.card.light {
  background-color: #efb575;
}

.card.pink {
  background-color: #e87d74;
}

.avatar {
  width: 10em;
  height: 10em;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 1em;
  border-radius: 50%;
}
.info {
  width: 100%;
}

.name,
.company,
.job,
.email,
.motto {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.2em;
}

.name {
  font-size: 1.2rem;
}

.company {
  margin-bottom: 1em;
}

.company::after {
  content: "";
  display: block;
  width: 90%;

  height: 2px;
  background-color: wheat;
  transform: translateY(0.5em);
}
